{% if current_user != null %}
    {% set inactive = not (current_page.editable and has_page_privileges) %}
    <div id='UserSettingsContainer'>
        <div id='UserSettingsMenu'>
            <ul>
                <li class='page active' title='Rediger side'>&nbsp;</li>
                <li class='pages' title='Administrer sider'>&nbsp;</li>
                <li class='user ' title='Rediger oplysninger'>&nbsp;</li>
                <li class='users' title='Administrer brugere'>&nbsp;</li>
                {% if config.mailMySQLConnection != null %}
                    <li class='mail ' title='Administrer mailkonti'>&nbsp;</li>
                {% endif %}
                {% if config.updaterEnabled and  has_site_privileges %}
                    <li class='update_site' title='Opdater website'>&nbsp;</li>
                {% endif %}
                {% if has_root_privileges %}
                    <li class='log ' title='Administrer log'>&nbsp;</li>
                {% endif %}
                {% block user_settings_menu %}
                {% endblock %}
            </ul>
            <div id='UserSettingsContractLink'>&nbsp;</div>
        </div>
        <div id='UserSettingsContent' class="disable_on_offline">
            <ul>
                <li class="{{ inactive?"inactive":"" }}">
                    {% if inactive %}
                        <div class='inactiveFilter' title='Du kan ikke redigere denne side'>&nbsp;</div>
                    {% endif %}
                    <h2>Rediger Side</h2>

                    <h3>Rediger side egenskaber</h3>

                    <form action="#" method="post" id="EditPageForm" class="justDistribution">
                        <div class="text">
                            <label for="EditPageEditTitleField">Titel</label>
                            <input type="text"
                                   name="title"
                                   value="{{ current_page.title }}"
                                   id="EditPageEditTitleField"
                                   class="valid initial">
                        </div>
                        <div class="text">
                            <label for="EditPageEditIDField">Side ID</label>
                            <input type="text" name="id"
                                   value="{{ current_page.id }}"
                                   id="EditPageEditIDField"
                                   class="valid initial">
                        </div>
                        <div class="select"><label for="EditPageEditTemplateSelect">Side type</label>

                            <select name="template" id="EditPageEditTemplateSelect" class="no_fix_size ">
                                {% for template in config.listtemplatenames %}
                                    {% if template[0:1] != "_" %}
                                        <option value="{{ template }}" {{ current_page.template == template?"selected":"" }}>{{ template }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="text">
                            <label for="EditPageEditAliasField">Alias (regexp)</label>
                            <input type="text"
                                   name="alias"
                                   value="{{ current_page.alias }}"
                                   id="EditPageEditAliasField"
                                   class="valid initial">
                        </div>
                        <div class="submit">
                            <input value="Rediger" type="submit">
                        </div>
                    </form>
                    {% if has_site_privileges %}
                        <h3>Administrer Brugerrettigheder</h3>
                        {% set non_deletable_users = [] %}
                        {% set deleteable_users = [] %}
                        {% set prospect_users = [] %}
                        {% for user in user_lib.getchildren(current_user) %}
                            {% if user.userPrivileges.hasPagePrivileges(current_page) %}
                                {% if user.userPrivileges.hasSitePrivileges or user.userPrivileges.hasRootPrivileges %}
                                    {% set non_deletable_users = non_deletable_users|merge([user]) %}
                                {% else %}
                                    {% set deleteable_users = deleteable_users|merge([user]) %}
                                {% endif %}
                            {% else %}
                                {% set prospect_users = prospect_users|merge([user]) %}
                            {% endif %}
                        {% endfor %}

                        <ul class="colorList" id="PageUserList">
                            <li>{{ current_user.username }}</li>
                            {% for user in non_deletable_users %}
                                <li>{{ user.username }}</li>
                            {% endfor %}
                            {% for user in deleteable_users %}
                                <li><span class='val'>{{ user.username }}</span>

                                    <div class='delete link' title='Slet'>&nbsp;</div>
                                </li>
                            {% endfor %}
                        </ul>
                        <form action="#" method="post" class="oneLineForm" id="AddUserToPageForm">
                            <div class="select">
                                <label for="EditPageAddUserSelect">Vælg bruger</label>
                                <select name="username" id="EditPageAddUserSelect" class="no_fix_size">
                                    <option value=" ">-- Bruger --</option>
                                    {% for user in prospect_users %}
                                        <option value="{{ user.username }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="submit"><input value="Tilføj Bruger" type="submit"></div>
                        </form>
                    {% endif %}
                </li>
                <li>
                    <h2>Administrer Sider</h2>

                    <h3>Aktive sider</h3>
                    {% page_element "\\ChristianBudde\\Part\\view\\page_element\\UserSettingsEditPagesListPageElementImpl" %}
                    <h3>Inaktive sider</h3>
                    <ul class="colorList {{ has_site_privileges?"draggable":"" }}" id="InactivePageList">
                        {% set no_inactive = true %}
                        {% for page in page_order.listpages(constant('ChristianBudde\\Part\\model\\page\\PageOrder::LIST_INACTIVE')) %}
                            {% set no_inactive = false %}
                            <li class="{{ page == current_page?"current":"" }}"
                                data-id="{{ page.id }}"
                                data-template="{{ page.template }}"
                                data-alias="{{ page.alias }}"
                                data-title="{{ page.title }}"
                                data-hidden="{{ page.hidden?"true":"false" }}">
                                <div class='padding'> &nbsp;</div>
                                <a href='/{{ page.id }}' class='val'>{{ page.title }}</a>

                                <div class='link delete' title='Slet'> &nbsp; </div>
                                <div class='link activate' title='Aktiver'> &nbsp; </div>
                            </li>
                        {% endfor %}
                        <li class='empty'> Der er ingen inaktive sider</li>
                    </ul>
                    {% if has_site_privileges %}
                        <form class="oneLineForm" id="EditPagesForm">
                            <div class="text">
                                <label for="EditPagesAddPage">Side titel</label>
                                <input type="text" name="title" id="EditPagesAddPage"/>
                            </div>
                            <div class="submit">
                                <input type="submit" value="Opret"/>
                            </div>
                        </form>
                    {% endif %}

                </li>
                <li>
                    <h2>Rediger Oplysninger</h2>

                    <h3>Rediger brugernavn og e-mail</h3>

                    <form action="#" method="post" class="verticalAlignForm" id="UpdateUsernameMailForm">
                        <div class="text">
                            <label for="EditUserEditUsernameField">Brugernavn</label>
                            <input type="text"
                                   name="username"
                                   value="{{ current_user.username }}"
                                   id="EditUserEditUsernameField">
                        </div>
                        <div class="text">
                            <label for="EditUserEditMailField">E-Mail</label>
                            <input type="text"
                                   name="mail"
                                   value="{{ current_user.mail }}"
                                   id="EditUserEditMailField">
                        </div>
                        <div class="submit"><input value="Rediger" type="submit"></div>
                    </form>
                    <h3>Rediger kodeord</h3>

                    <form action="#" method="post" class="verticalAlignForm initial invalid" id="UpdatePasswordForm">
                        <div class="password">
                            <label for="EditUserEditPasswordOldField">Gammelt kodeord</label>
                            <input type="password" name="old_password" id="EditUserEditPasswordOldField">
                        </div>
                        <div class="password">
                            <label for="EditUserEditPasswordNewField">Nyt kodeord</label>
                            <input type="password" name="new_password" id="EditUserEditPasswordNewField">
                        </div>
                        <div class="password">
                            <label for="EditUserEditPasswordNewRepField">Gentag kodeord</label>
                            <input type="password" name="new_password_repeat" id="EditUserEditPasswordNewRepField">
                        </div>
                        <div class="submit"><input value="Rediger" type="submit"></div>
                    </form>

                </li>
                <li>
                    <h2>Administrer Brugere</h2>

                    <h3>Brugere</h3>
                    <ul class="colorList" id="UserList">
                        {% for user in [current_user]|merge(user_lib.getChildren(current_user)) %}
                            <li class='{{ current_user == user?'current':'' }}'
                                data-parent='{{ user.parent }}'
                                data-mail='{{ user.mail }}'
                                data-username='{{ user.username }}'
                                data-privileges='{{ user.getUserPrivileges.hasRootPrivileges?"root":(user.getUserPrivileges.hasSitePrivileges?"site":"page") }}'
                                data-pages='{{ user.privileges.listPagePrivileges | join(' ') }}'
                                data-last-login='{{ user.lastLogin }}'>
                                <a href='mailto:{{ user.mail }}' class='val'>{{ user.username }}</a>,
                                <span class='privileges'>
                                    ({{ user.getUserPrivileges.hasRootPrivileges?"Root":(user.getUserPrivileges.hasSitePrivileges?"Website":"Side") }}
                                    Administrator)
                                </span>
                                {% if current_user != user %}
                                    <div class='delete link' title='Slet'>&nbsp;</div>
                                {% endif %}
                                <div class='time link'>&nbsp;</div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if has_site_privileges %}
                        <h3>Tilføj bruger</h3>
                        <form action="#" method="post" id="EditUsersAddUserForm"
                              class="justDistribution initial invalid">
                            <div class="text">
                                <label for="AddUserMailField">E-Mail</label>
                                <input type="text" name="mail" id="AddUserMailField">
                            </div>
                            <div class="select">
                                <label for="AddUserLevelSelect">Rettigheder</label>
                                <select name="level" id="AddUserLevelSelect" class="no_fix_size ">
                                    <option value="page">Side</option>
                                    <option value="site">Website</option>
                                    <option value="root">Root</option>
                                </select>
                            </div>
                            <div class="submit"><input value="Opret bruger" type="submit"></div>
                        </form>
                    {% endif %}
                </li>
                {% if config.mailMySQLConnection != null %}
                    <li>
                        <h2>Administrer Mailkonti</h2>


                        <h3>Domæner</h3>
                        {% set domains = backend_container.listdomains() %}
                        {% set empty_alias = true %}
                        <ul class='floating_list has_deletable no_loader {{ domains| length == 0?"empty":"" }}'
                            id='UserSettingsEditMailDomainList'>
                            {% for domain in domains %}
                                <li
                                        data-last-modified='{{ domain.lastModified }}'
                                        data-description='{{ domain.description }}'
                                        data-active='{{ domain.active?'true':'false' }}'
                                        data-domain-name='{{ domain.domainName }}'
                                        data-alias-target='{{ domain.aliasDomain?'domain.aliasTarget.domainName':"" }}'>
                                    {{ domain.domainName }}
                                    {% if has_site_privileges %}
                                        <div class='delete'></div>
                                    {% endif %}
                                    {% if domain.aliasDomain %}
                                        {% set empty_alias = false %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class='empty_list'>Der er ingen domæner</li>
                        </ul>
                        <div class='mail_form expandable'>
                            <form id='UserSettingsEditMailAddDomainForm' class='has_function_string'
                                  data-function-string='MailDomainLibrary.createDomain(FormHandler["domain_name"],FormHandler["super_password"])'
                                  data-on-success-function-string='FormHandler.clearForm()'>
                                <div hidden>
                                    <label>
                                        <input type='text'/>
                                    </label>
                                    <label>
                                        <input type='password'/>
                                    </label>
                                </div>
                                <label>
                                    Domæne
                                    <input type='text' name='domain_name'
                                           data-validator-method='pattern{^[a-z0-9-_\\.]+\\.[a-z]\\{2,\\}$}'
                                           data-error-message='Ugyldig domæne'/>
                                </label>
                                <label>
                                    Super-kodeord
                                    <input type='password' name='super_password' data-validator-method='non-empty'
                                           data-error-message='Ugyldig kodeord'/>
                                </label>

                                <div class='submit'>
                                    <input type='submit' value='Opret Domæne'/>
                                </div>
                            </form>
                        </div>
                        <h3>Domæne alias</h3>

                        <ul class='floating_list points_to has_deletable no_loader {{ empty_alias?'empty':'' }}'
                            id='UserSettingsEditMailDomainAliasList'>
                            {% for domain in domains %}
                                {% if domain.aliasDomain %}
                                    {% set target = domain.aliasTarget %}

                                    <li data-from-domain='{{ domain.domainName }}'
                                        data-to-domain='{{ target.domainName }}'>
                                        <div>
                                            {{ domain.domainName }}
                                        </div>
                                        <div class='arrow'>

                                        </div>
                                        <div>
                                            {{ target.domainName }}
                                        </div>
                                        {% if has_site_privileges %}
                                            <div class='delete'></div>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class='empty_list'>Der er ingen domæne alias</li>
                        </ul>
                        <div class='mail_form expandable'>

                            <form id="UserSettingsEditMailAddDomainAliasForm" class='has_function_string'
                                  data-function-string='MailDomainLibrary[FormHandler["from"]].changeAliasTarget(MailDomainLibrary[FormHandler["to"]])'
                                  data-on-success-function-string='FormHandler.clearForm()'>
                                <label>
                                    Domæne
                                    <select name='from' data-validator-method='non-empty' class='no_fix_size'>
                                        <option value=''>--Domæne--</option>
                                        {% for domain in domains %}
                                            <option value="{{ domain.domainName }}" {{ domain.aliasDomain?"hidden":"" }}>{{ domain.domainName }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    Peger på
                                    <select name='to' data-validator-method='non-empty' class='no_fix_size'>
                                        <option value=''>--Domæne--</option>
                                        {% for domain in domains %}
                                            <option value="{{ domain.domainName }}">{{ domain.domainName }}</option>
                                        {% endfor %}
                                    </select>
                                </label>

                                <div class='submit'>
                                    <input type='submit' value='Opret Alias'/>
                                </div>
                            </form>
                        </div>
                        <h3>Adresser</h3>
                        {% set addresses = {} %}
                        {% for domain in domains %}
                            {% set addr_list = domain.addressLibrary.listAddresses %}
                            {% if domain.addressLibrary.hasCatchallAddress %}
                                {% set addr_list = addr_list | merge([domain.addressLibrary.catchallAddress]) %}
                            {% endif %}
                            {% if addr_list | length %}
                                {% set domain_name = domain.domainname %}
                                {% set addresses = addresses | merge({domain_name : addr_list}) %}
                            {% endif %}
                        {% endfor %}
                        <ul id="UserSettingsEditMailAddressLists" {{ addresses | length?"":"hidden" }}>
                            {% for domain in domains %}
                                <li>

                                    <ul data-domain-name="{{ domain.domain_name }}"
                                        class="no_loader floating_list has_deletable address_list" {{ addresses[domain.domainname] | length?"":"hidden" }}>
                                        {% for address in addresses[domain.domainname] %}
                                            {% set can_edit = address.isOwner(current_user) or has_site_privileges %}
                                            <li data-local-part='{{ address.localPart }}'
                                                data-targets='{{ address.targets | join(' ') }}'
                                                data-last-modified='{{ address.lastModified }}'
                                                data-owners='{{ address.listOwners | join(' ') }}'
                                                data-active='{{ address.isActive?'true':'false' }}'
                                                data-has-mailbox='{{ address.hasMailbox?'true':'false' }}'
                                                    {% if address.hasMailbox %}
                                                        data-mailbox-name='{{ address.mailbox.name }}'
                                                        data-mailbox-last-modified='{{ address.mailbox.lastmodified }}'
                                                    {% endif %}
                                                class="{{ can_edit?"can_edit":"" }}">
                                                {% if address.localpart == "" %}
                                                <span class='asterisk'></span>
                                                {% else %}
                                                    {{ address.localpart }}
                                                {% endif %}@{{ domain.domainname }}
                                                {% if can_edit %}
                                                    <div class='delete'></div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            <li class='empty_list'>Der er ingen addresser</li>
                        </ul>
                        <div class='mail_form expandable'>
                            <form id='UserSettingsEditMailAddAddressForm'>
                                <div hidden>
                                    <label>
                                        <input type='text'/>
                                    </label>
                                    <label>
                                        <input type='password'/>
                                    </label>
                                </div>
                                <label>
                                    Navn (tom for catchall addresse)
                                    <input type='text' name='local_part'
                                           data-validator-method='pattern{^[a-z0-9\\._-]*$}'
                                           data-error-message='Ugyldig addresse'>
                                </label>
                                <span class='at'>@</span>
                                <label>
                                    Domæne
                                    <select name='domain' data-validator-method='non-empty' class='no_fix_size'>
                                        <option value=''>--Domæne--</option>
                                        {% for domain in domains %}
                                            <option value="{{ domain.domainName }}">{{ domain.domainName }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                {% set children = user_lib.getChildren(current_user) %}
                                {% set ownerCheckListHidden = true%}
                                {% for child in children %}
                                    {% set ownerCheckListHidden = ownerCheckListHidden and (child.userprivileges.hasSitePrivileges) %}
                                {% endfor %}
                               <label id='UserSettingsEditMailAddAddressUserCheckListLabel' {{ ownerCheckListHidden?"hidden":"" }}>
                                    Vælg brugere
                                </label>
                                <ul class='owner_check_list' id='UserSettingsEditMailAddAddressUserCheckList'
                                        {{ ownerCheckListHidden?"hidden":"" }}>
                                    {% for user in user_lib %}
                                        {% if not user.userPrivileges.hasSitePrivileges %}
                                            <li data-user-name="{{ user.username }}" {{ user in children?'':'hidden'}}>
                                                <input type='checkbox' id='UserSettingsEditMailAddAddressFormAddUserCheck{{ user.username }}' data-function-string='.addOwner(_this)' name='user_{{ user.username }}' value='{{ user.username }}'/>
                                                <label for='UserSettingsEditMailAddAddressFormAddUserCheck{{ user.username }}'>
                                                    {{ user.username }}
                                                </label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <label class='long_input'>
                                    Vidersend til (mellemrums separeret liste)
                                    <input type='text' name='targets'
                                           data-error-message='Skal være liste af gyldige email addresser'/>
                                </label>
                                <input type='checkbox' class='pretty_checkbox'
                                       id='UserSettingsEditMailAddAddressAddMailboxCheckbox' name='add_mailbox'
                                       value='1'/>
                                <label for='UserSettingsEditMailAddAddressAddMailboxCheckbox' class='long_input'>
                                    Opret mailbox
                                </label>

                                <div>
                                    <label>
                                        Navn
                                        <input type='text' name='mailbox_owner_name'
                                               data-error-message='Der skal angives et navn'/>
                                    </label>
                                    <label>
                                        Mailbox kodeord
                                        <input type='password' name='mailbox_password'
                                               data-error-message='Kodeordet må ikke være tomt'/>
                                    </label>
                                    <label>
                                        Bekræft kodeord
                                        <input type='password' name='mailbox_password_2'
                                               data-error-message='Kodeordet skal gengives korrekt'/>
                                    </label>

                                </div>
                                <div class='submit create'>
                                    <input type='submit' value='Opret adresse'/>
                                </div>
                                <div class='submit edit'>
                                    <input type='submit' value='Gem ændringer'/>
                                </div>

                            </form>
                        </div>

                    </li>
                {% endif %}
                {% if config.updaterEnabled and  has_site_privileges %}
                    <li>
                        <h2>Opdater Website</h2>

                        <p class='text update_site'>
                            Hjemmesiden er version <span class='version'>{{ updater.version }} </span> fra <span
                                    class='update_time'>{{ updater.lastupdated | date("j-n-Y \\k\\l. H:i:s") }}</span>.<br/>
                            Da din hjemmeside understøtter opdateringer, vil du modtage opdateringer i takt med at de
                            bliver udgivet. Denne service er en del af din hosting aftale, og du kan checke efter
                            opdateringer ved at klikke på knappen herunder.<br/>
                            Der er sidst checket efter opdateringer <span
                                    class='check_time'>{{ updater.lastchecked | date("j-n-Y \\k\\l. H:i:s") }}</span>.
                        </p>

                        <div class='update_site_container container_box'>
                            <button class='update_check'
                                    data-work-check-value='Undersøger'
                                    data-work-update-value='Opdaterer'
                                    data-update-value='Opdater hjemmesiden'
                                    data-check-value='Check for opdateringer'>{{ updater.checkforupdates(true)?'Opdater hjemmesiden':'Check for opdateringer' }}</button>
                        </div>
                        <p class='text'>
                            Som udgangspunkt checker systemet efter nye opdateringer når du logger på. Dette er
                            anbefalet, da du dermed er sikret den seneste version af din hjemmeside.
                            Du kan ændre dette herunder.
                        </p>

                        <form class='container_box no_loader'>
                            <input type='checkbox' {{ updater.isCheckOnLoginAllowed(current_user)?"checked":"" }}
                                   class='on_off_checkbox' id='UserSettingsUpdaterEnableAutoUpdate'/>
                            <label for='UserSettingsUpdaterEnableAutoUpdate' class='fake_button'>
                            </label>
                        </form>

                    </li>
                {% endif %}
                {% if has_root_privileges %}
                    <li>
                        <h2>Log</h2>
                        {% set log = backend_container.loggerInstance.listLog() %}

                        <table id='UserSettingsLogTable'
                               class='{{ log | length?"":"empty" }}'>
                            {% for row in log %}
                                {% set level =
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_ALERT')?'Alert':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_DEBUG')?'Debug':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_CRITICAL')?'Critical':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_EMERGENCY')?'Emergency':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_INFO')?'Info':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_NOTICE')?'Notice':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_WARNING')?'Warning':
                                row['level'] b-and constant('ChristianBudde\\Part\\log\\Logger::LOG_LEVEL_ERROR')?'Error':'' %}
                                <tr class='{{ level | lower }}'>
                                    <td class='level' title='{{ level }}'></td>
                                    <td>{{ row['message'] }}</td>
                                    <td class='dumpfile'>
                                        {% if row['context'] is defined %}
                                            <a href="#" data-id="{{ row['time'] }}">&nbsp;</a>
                                        {% endif %}
                                    </td>
                                    <td class='date'>{{ row['time'] | date('j-n-Y \\k\\l. H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            <tr class='empty_row'>
                                <td>Loggen er tom</td>
                            </tr>
                        </table>
                        <p id='LogInfoParagraph'>
                            Der er registreret <i>{{ log | length }}</i> indgange.
                            <a href='#' id='ClearLogLink'>Ryd loggen</a>.
                        </p>
                    </li>
                {% endif %}
                {% block user_settings %}
                {% endblock %}
            </ul>
        </div>
    </div>
    <div id='UserSettingsExpandLink'>
        &nbsp;
    </div>
    <div id='UpdateInformationMessage' {{ (config.updaterEnabled and updater.checkForUpdates(true))?"":"hidden" }}>
        Siden kan opdateres. Klik <a href='#'>her</a> for at starte opdateringen.
    </div>
    <div id='LoginUserMessage'>
        Du er logget ind som <i>{{ current_user.username }}</i>, <a href='/logout'>log ud</a>.
    </div>
    <div id="OnlineOfflineIndicator" class="no_select">

    </div>
{% else %}
    <div id="UserSettingsCurrentPage"
         data-id="{{ current_page.id }}"
         data-title="{{ current_page.title }}"
         data-alias="{{ current_page.alias }}"
         data-last_modified="{{ current_page.lastModified }}"
         data-template="{{ current_page.template }}"
         data-hidden="{{ current_page.hidden?'true':'false' }}"
         data-inactive="{{ page_order.isActive(current_page)?'true':'false'}}"
         hidden></div>

{% endif %}